<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANALYTICS_ACCOUNT_KEY</key>
	<string>UA-2104369-6</string>
	<key>HOPTOAD_ACCOUNT_KEY</key>
	<string>fba0669fe541bbfecd445818fae9a718</string>
</dict>
</plist>
