<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist xmlns="" version="1.0">
  <dict>
    <key>$archiver</key>
    <string>NSKeyedArchiver</string>
    <key>$objects</key>
    <array>
      <string>$null</string>
      <dict>
        <key>$class</key>
        <dict>
          <key>CF$UID</key>
          <integer>4</integer>
        </dict>
        <key>disk</key>
        <integer>10</integer>
        <key>id</key>
        <integer>1</integer>
        <key>name</key>
        <dict>
          <key>CF$UID</key>
          <integer>2</integer>
        </dict>
        <key>ram</key>
        <integer>256</integer>
      </dict>
      <dict>
        <key>$class</key>
        <dict>
          <key>CF$UID</key>
          <integer>3</integer>
        </dict>
        <key>NS.string</key>
        <string>256 MB Server</string>
      </dict>
      <dict>
        <key>$classes</key>
        <array>
          <string>NSMutableString</string>
          <string>NSString</string>
          <string>NSObject</string>
        </array>
        <key>$classname</key>
        <string>NSMutableString</string>
      </dict>
      <dict>
        <key>$classes</key>
        <array>
          <string>Flavor</string>
          <string>ComputeModel</string>
          <string>NSObject</string>
        </array>
        <key>$classname</key>
        <string>Flavor</string>
      </dict>
    </array>
    <key>$top</key>
    <dict>
      <key>flavor</key>
      <dict>
        <key>CF$UID</key>
        <integer>1</integer>
      </dict>
    </dict>
    <key>$version</key>
    <integer>100000</integer>
  </dict>
</plist>
